@model IEnumerable<Cart>
<div class="row">
    <div class="row-7">
        <form method="post">
            <div class="row mb-1">
                <label class="col-2 form label" for="">Fullname</label>
                <div class="col-10">
                    <input class="form-control" type="text" name="fullname">
                </div>
            </div>
            <div class="row mb-1">
                <label class="col-2 form label" for="">Email</label>
                <div class="col-10">
                    <input class="form-control" type="text" name="email">
                </div>
            </div>
            <div class="row mb-1">
                <label class="col-2 form label" for="">Phone</label>
                <div class="col-10">
                    <input class="form-control" type="text" name="phone">
                </div>
            </div>
            <div class="row mb-1">
                <label class="col-2 form label" for="">Address</label>
                <div class="col-10">
                    <input class="form-control" type="text" name="address">
                </div>
            </div>
            <div>
                <button class="btn btn-primary">Confirm Checkout</button>
            </div>
        </form>
    </div>
    <div class="col-5">
        <table class="table table-bordered">
            <thead class="table-dark">
                <tr>
                    <th>Name</th>
                    <th>Price</th>
                </tr>
            </thead>
            <tbody>
                @foreach(var item in Model){
                    <tr>
                        <td>@item.ProductName</td>
                        <td>@item.Price</td>    
                    </tr>
                }
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="2">@Model.Sum(p => p.Price * p.Quantity) </td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>